$font-family: "PT Sans", sans-serif;
$first-font: "Dancing Script", cursive;
$second-font: "Nixie One", cursive;
$primary-color: rgb(251, 6, 6);
$secondary-color: #303841;
$main: #ff2e13;
$secundary: #ffd4da;
$terchiary: #99d2e4;
$box-color: rgba(185, 42, 42, 0.123);
$box-color2: rgba(0, 0, 0, 0.794);
// $box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
//   rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  // max-width: 100%;
  background-color: #eeeeee;

  main {
    height: 100vh;
    width: 100vw;
    // border-bottom: 2px solid $secondary-color;
    @keyframes mainAnimation {
      0% {
        width: 50px;
        transform: translateX(0px) translateY(0px) rotate(0deg);
      }
      20% {
        width: 50px;
        transform: translateX(0px) translateY(0px) rotate(0deg);
      }
      40% {
        width: 150px;
        transform: translateX(-50px) translateY(0px) rotate(0deg);
      }
      60% {
        width: 150px;
        transform-origin: bottom right;
        transform: translateX(-150px) translateY(0px) rotate(90deg);
      }
      80% {
        width: 50px;
        transform: translateX(-25px) translateY(0px) rotate(90deg);
      }
      100% {
        width: 50px;
        transform: translateX(-50px) translateY(0px) rotate(90deg);
      }
    }
    @keyframes secundaryAnimation {
      0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
      }
      20% {
        transform: translateX(0px) translateY(0px) rotate(180deg);
      }
      40% {
        transform: translateX(0px) translateY(0px) rotate(180deg);
      }
      60% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
      }
      80% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
      }
      100% {
        transform: translateX(0px) translateY(0px) rotate(180deg);
      }
    }
    @keyframes shadowAnimation {
      0% {
        width: 150px;
        transform: translateX(-25px) translateY(0px) rotate(0deg);
      }
      20% {
        width: 75px;
        transform: translateX(37.5px) translateY(0px) rotate(0deg);
      }
      40% {
        width: 200px;
        transform: translateX(-25px) translateY(0px) rotate(0deg);
      }
      60% {
        width: 75px;
        transform: translateX(37.5px) translateY(0px) rotate(0deg);
      }
      80% {
        width: 75px;
        transform: translateX(37.5px) translateY(0px) rotate(0deg);
      }
      100% {
        width: 150px;
        transform: translateX(-25px) translateY(0px) rotate(0deg);
      }
    }
    @keyframes float {
      0% {
        top: 50%;
      }
      50% {
        top: 51%;
      }
      100% {
        top: 50%;
      }
    }

    .loader {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 35%;
      left: 50%;
      margin-top: -25px;
      margin-left: -25px;
      background-color: $main;
      transform: translateX(0px) translateY(0px) rotate(0deg);
      animation: mainAnimation 4s ease 0s infinite forwards;
      z-index: 2;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: -50px;
        background-color: $main;
        transform-origin: top right;
        transform: translateX(0px) translateY(0px) rotate(0deg);
        animation: secundaryAnimation 4s ease 0s infinite forwards;
      }
    }

    .shadow {
      position: absolute;
      width: 100px;
      height: 10px;
      top: 50%;
      left: 50%;
      margin-top: 30px;
      margin-left: -75px;
      border-radius: 50%;
      background-color: #95a5a6;
      transform: translateX(0px) translateY(0px) rotate(0deg);
      animation: shadowAnimation 4s ease 0s infinite forwards,
        float 5s ease-in-out 0s infinite forwards;
      filter: blur(5px);
      z-index: 1;
    }

    // main

    .top {
      width: 100%;
      height: 13vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $box-color;
      overflow: hidden;
      z-index: 1;
      position: fixed;
      margin: 5px 0;
      border-radius: 25px;
      top: 0;
      box-shadow: $box-shadow;

      .heading {
        width: 20%;
        height: 50%;
        text-align: center;
        margin: 15px;

        .first {
          font-family: $first-font;
          color: $primary-color;
          font-size: 1.4rem;
          opacity: 1;
        }
        .last {
          font-family: $second-font;
          color: rgb(251, 6, 6);
          font-size: 0.8rem;
          letter-spacing: 5px;
          opacity: 1;
        }
      }

      .navbox {
        width: 60%;
        height: 30%;
        overflow: hidden;
        margin: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

        a {
          text-decoration: none;
          font-family: $second-font;
          color: black;
          font-weight: bold;
        }
      }
    }

    .front-page {
      width: 85%;
      height: 70vh;
      background-color: $box-color2;
      margin: auto;
      margin-top: 20vh;
      font-family: $second-font;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10%;
      border-radius: 25px;
      overflow: hidden;
      color: white;
      box-shadow: $box-shadow;

      .title {
        animation: type 2s steps(13), blink-caret 0.75s step-end infinite;
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid black;
        // width: 9.5ch;
        // text-align: end;
        font-size: 2rem;
        text-align: center;

        .red {
          color: rgb(255, 0, 0);
        }
      }
      @keyframes type {
        from {
          width: 0ch;
        }
        to {
          width: 9ch;
        }
      }
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: red;
        }
      }
      .description {
        width: 60%;
        text-align: center;
      }

      .box {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
          display: block;
          width: 20px;
          height: 20px;
          border-bottom: 1px solid black;
          border-right: 1px solid black;
          transform: rotate(45deg);
          margin: -20px;
          animation: animate 2s infinite;

          &:nth-child(2) {
            animation-delay: -0.2s;
          }
          &:nth-child(3) {
            animation-delay: -0.4s;
          }
        }
        @keyframes animate {
          0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
          }
        }
      }
    }
    .projects-page {
      max-width: 100vw;
      min-height: 100vh;
      margin-top: 15vh;
      padding-top: 15vh;
      border-top: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      h2 {
        font-family: $second-font;
        margin-top: 5%;
        animation: hinge 3s ease-in-out;
        font-weight: bold;
        font-size: 2.1rem;
        z-index: 3;
      }

      .project-container {
        width: 85%;
        height: 60vh;
        box-shadow: $box-shadow;
        background-color: rgba(185, 42, 42, 0.123);
        border-radius: 25px;

        .top-half {
          width: 100%;
          height: 60%;
          // border: 2px solid blue;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 90%;
            height: 85%;
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
          }
        }
        .bottom-half {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .description {
            width: 70%;
            height: 70%;
            text-align: center;
            border-top: 1px solid black;
            font-family: $second-font;
            //   text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
            //     10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);

            .what-skills {
              margin-top: 3%;
              font-size: 0.8rem;
              font-style: italic;
            }
          }

          .icon-half {
            width: 90%;
            height: 30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 15px;
            border-top: 1px solid black;
            font-size: 2.2rem;

            #link {
              color: rgb(0, 0, 0);

              &:hover {
                color: $primary-color;
              }
            }

            #github {
              color: black;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }

    .skills-page {
      width: 100vw;
      height: 100vh;
      padding-top: 15vh;

      h2 {
        font-family: $second-font;
        font-size: 2.1rem;
        text-align: center;
      }

      .skills-container {
        width: 100%;
        height: 100%;
        display: flex;
        // justify-content:;
        align-items: center;
        flex-direction: column;
        gap: 35px;
        // align-items: center;

        .left-side-info-container {
          width: 90%;
          height: 30vh;
          // border: 2px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $box-color;
          border-radius: 25px;
          box-shadow: $box-shadow;

          p {
            width: 90%;
            letter-spacing: 0.1rem;
            text-align: center;
            font-family: $second-font;
          }
        }

        .right-icons-container {
          width: 90%;
          height: 30vh;
          border-radius: 25px;
          background-color: $box-color2;
          display: flex;
          justify-content: space-between;
          box-shadow: $box-shadow;

          .left-icons {
            height: 90%;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 2.8rem;
            color: whitesmoke;
          }
          .middle-icons {
            height: 90%;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 2.8rem;
            color: whitesmoke;
          }
          .right-icons {
            height: 90%;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-size: 2.8rem;
            color: whitesmoke;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 480px) {
//   .navbox {
//     width: 70%;
//     border: 2px solid black;
//   }
// }
