* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #eeeeee;
}

body main {
  height: 100vh;
  width: 100vw;
}

@-webkit-keyframes mainAnimation {
  0% {
    width: 50px;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 50px;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 150px;
    -webkit-transform: translateX(-50px) translateY(0px) rotate(0deg);
            transform: translateX(-50px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 150px;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translateX(-150px) translateY(0px) rotate(90deg);
            transform: translateX(-150px) translateY(0px) rotate(90deg);
  }
  80% {
    width: 50px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(90deg);
            transform: translateX(-25px) translateY(0px) rotate(90deg);
  }
  100% {
    width: 50px;
    -webkit-transform: translateX(-50px) translateY(0px) rotate(90deg);
            transform: translateX(-50px) translateY(0px) rotate(90deg);
  }
}

@keyframes mainAnimation {
  0% {
    width: 50px;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 50px;
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 150px;
    -webkit-transform: translateX(-50px) translateY(0px) rotate(0deg);
            transform: translateX(-50px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 150px;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: translateX(-150px) translateY(0px) rotate(90deg);
            transform: translateX(-150px) translateY(0px) rotate(90deg);
  }
  80% {
    width: 50px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(90deg);
            transform: translateX(-25px) translateY(0px) rotate(90deg);
  }
  100% {
    width: 50px;
    -webkit-transform: translateX(-50px) translateY(0px) rotate(90deg);
            transform: translateX(-50px) translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes secundaryAnimation {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  40% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  60% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
}

@keyframes secundaryAnimation {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  40% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  60% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);
            transform: translateX(0px) translateY(0px) rotate(180deg);
  }
}

@-webkit-keyframes shadowAnimation {
  0% {
    width: 150px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 200px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  80% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  100% {
    width: 150px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
}

@keyframes shadowAnimation {
  0% {
    width: 150px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 200px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  80% {
    width: 75px;
    -webkit-transform: translateX(37.5px) translateY(0px) rotate(0deg);
            transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  100% {
    width: 150px;
    -webkit-transform: translateX(-25px) translateY(0px) rotate(0deg);
            transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
}

@-webkit-keyframes float {
  0% {
    top: 50%;
  }
  50% {
    top: 51%;
  }
  100% {
    top: 50%;
  }
}

@keyframes float {
  0% {
    top: 50%;
  }
  50% {
    top: 51%;
  }
  100% {
    top: 50%;
  }
}

body main .loader {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 35%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-color: #ff2e13;
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
          transform: translateX(0px) translateY(0px) rotate(0deg);
  -webkit-animation: mainAnimation 4s ease 0s infinite forwards;
          animation: mainAnimation 4s ease 0s infinite forwards;
  z-index: 2;
}

body main .loader:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: -50px;
  background-color: #ff2e13;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
          transform: translateX(0px) translateY(0px) rotate(0deg);
  -webkit-animation: secundaryAnimation 4s ease 0s infinite forwards;
          animation: secundaryAnimation 4s ease 0s infinite forwards;
}

body main .shadow {
  position: absolute;
  width: 100px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin-top: 30px;
  margin-left: -75px;
  border-radius: 50%;
  background-color: #95a5a6;
  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
          transform: translateX(0px) translateY(0px) rotate(0deg);
  -webkit-animation: shadowAnimation 4s ease 0s infinite forwards, float 5s ease-in-out 0s infinite forwards;
          animation: shadowAnimation 4s ease 0s infinite forwards, float 5s ease-in-out 0s infinite forwards;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 1;
}

body main .top {
  width: 100%;
  height: 13vh;
  border-bottom: 3px solid #303841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  overflow: hidden;
  z-index: 100;
  position: fixed;
  top: 0;
}

body main .top .heading {
  width: 20%;
  height: 50%;
  text-align: center;
}

body main .top .heading .first {
  font-family: "Dancing Script", cursive;
  color: #fb0606;
  font-size: 1.4rem;
  opacity: 1;
}

body main .top .heading .last {
  font-family: "Nixie One", cursive;
  color: #fb0606;
  font-size: 0.8rem;
  letter-spacing: 5px;
  opacity: 1;
}

body main .top .navbox {
  width: 50%;
  height: 30%;
  overflow: hidden;
  background-color: wheat;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .top .navbox a {
  text-decoration: none;
  font-family: "Nixie One", cursive;
  color: black;
  font-weight: bold;
}

body main .front-page {
  width: 75%;
  height: 70vh;
  border-right: 2.5px solid #303841;
  border-left: 2.5px solid #fb0606;
  margin: auto;
  margin-top: 20vh;
  font-family: "Nixie One", cursive;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
  border-radius: 5px;
  overflow: hidden;
}

body main .front-page .title {
  -webkit-animation: type 2s steps(13), blink-caret 0.75s step-end infinite;
          animation: type 2s steps(13), blink-caret 0.75s step-end infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  font-size: 2rem;
  text-align: center;
}

body main .front-page .title .red {
  color: red;
}

@-webkit-keyframes type {
  from {
    width: 0ch;
  }
  to {
    width: 9ch;
  }
}

@keyframes type {
  from {
    width: 0ch;
  }
  to {
    width: 9ch;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

body main .front-page .description {
  text-align: center;
}

body main .front-page .box {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main .front-page .box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

body main .front-page .box span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

body main .front-page .box span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

body main .projects-page {
  max-width: 100vw;
  min-height: 100vh;
  margin-top: 15vh;
  padding-top: 15vh;
  border-top: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

body main .projects-page h2 {
  font-family: "Nixie One", cursive;
  margin-top: 5%;
  -webkit-animation: hinge 3s ease-in-out;
          animation: hinge 3s ease-in-out;
  font-weight: bold;
  font-size: 2.1rem;
  z-index: 3;
}

body main .projects-page .project-container {
  width: 85%;
  height: 60vh;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
          box-shadow: #26394d 0px 20px 30px -10px;
  background-color: rgba(185, 42, 42, 0.123);
  border-radius: 25px;
}

body main .projects-page .project-container .top-half {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .projects-page .project-container .top-half img {
  width: 90%;
  height: 85%;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

body main .projects-page .project-container .bottom-half {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .projects-page .project-container .bottom-half .description {
  width: 70%;
  height: 70%;
  text-align: center;
  border-top: 1px solid black;
  font-family: "Nixie One", cursive;
}

body main .projects-page .project-container .bottom-half .description .what-skills {
  margin-top: 3%;
  font-size: 0.8rem;
  font-style: italic;
}

body main .projects-page .project-container .bottom-half .icon-half {
  width: 90%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  border-top: 1px solid black;
  font-size: 2.2rem;
}

body main .projects-page .project-container .bottom-half .icon-half #link {
  color: black;
}

body main .projects-page .project-container .bottom-half .icon-half #link:hover {
  color: #fb0606;
}

body main .projects-page .project-container .bottom-half .icon-half #github {
  color: black;
}

body main .projects-page .project-container .bottom-half .icon-half #github:hover {
  color: #fb0606;
}

body main .skills-page {
  width: 100vw;
  height: 100%;
  padding-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .skills-page h2 {
  font-family: "Nixie One", cursive;
  font-size: 2.1rem;
  text-align: center;
}

body main .skills-page .icons {
  height: 20%;
  width: 100%;
  font-size: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */